@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    margin: 0;
    padding: 0;
    background-color: #000; 
}

:root{
    --color-consejos : rgb(93, 93, 93);
    --color-inputs : black;
    --color-opciones : rgb(66, 149, 66);
}

.container-principal{
    background-color: #000;
    font-family: 'Lato',sans-serif;
}

.contenedor{
    background-color: #fff;
    position: relative;
    width: 650px;
    height: 500px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 8px;
}
/* Insertar Tarjeta */
.cajero{
    padding: 20px;
    display: re;
    background-color: #fbcc0d;
}

.logo-cajero img{
    width: 80%;
}

.info{
    color: blue; 
    font-weight: bold; 
    font-size: 35px;
    text-shadow: -7px 15px 12px rgb(182, 182, 182);
    margin-left: 35%
}

.info strong{
    color: red;
    font-size: 60px;
}

.mundo img{
    margin-top: 10px;
    height: 10%;
    width: 55%;
}

.insertar-tarjeta button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to right, #c4002b, #e6002f);
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    /* Forma trapezoidal inclinada */
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);

    border-radius: 55px 0px 0px 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Login */

.login{
    padding: 20px;
}
.pantalla-login{
    padding: 50px 20px;
    margin: 60px auto;
    justify-items: center;
}

.pantalla-login h1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.pantalla-login h2{
    color: var(--color-consejos);
    font-size: 13px;
}

/* consejo */
.consejo{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 15px;
    text-align: start;
    align-items: center;
    width: 180px;
}

.consejo i{
    font-size: 25px;
}

.consejo h2{
    font-size: 11px;
    margin-bottom: 0;
}

/* Posicion del boton salir */
.salir {
    position: absolute;
    bottom: 10px;
    left: 10px;    
    display: flex;
    align-items: center;
    gap: 5px;
}

.salir i {
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

.salir input {
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-inputs);
}

/* Seccion Retiros */
.menu{
    padding: 20px;
    display: block;
}

.barra{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 18px;
}

.barra > :nth-child(2){
    text-align: end;
}

.informacion{
    display: flex;
    justify-content: end;
    gap: 40px;
}

.grupo-info {
    display: flex;
    gap: 10px;
}

.informacion a{
    font-size: 15px;
    text-decoration: none;
    color:var(--color-consejos)
}

.informacion i{
    font-size: 15px;
}

.logo img{
    width: 55%;
}

.opciones{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.opcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 110px;
    border-radius: 5px;
    background-color: var(--color-opciones);
}

.opcion i{
    color: white;
    font-size: 20px;
}

.opcion:hover a, .opcion:hover i{
    color:rgb(96, 110, 96)
}

.opcion a{
    text-decoration: none;
    color:white;
}

.usuario h3{
    font-size: 35px;
    font-weight: 500;
    text-align: start;
    color:rgb(68, 164, 164)
}

.montos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap:30px
}

.monto-automatico{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.monto-retiro{
    border-radius: 7px;
    border-color: var(--color-opciones);
    background-color: var(--color-opciones);
    color: white;
}

/* Seccion Consulta */

.consulta{
    padding: 20px;
}

.saldo{
    text-align: center;
}

/* Seccion Deposito */

.deposito{
    padding: 20px;
}

.saldo-deposito{
    text-align: center;
}

.input-prefix {
    position: relative;
    display: inline-block;
}

.input-prefix .prefijo {
    position: absolute;
    left: 30px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 22px;
}

.input-prefix input {
    border-radius: 10px;
    margin: 0 20px;
    padding-left: 35px; /* espacio para el S/ */
    font-size: 20px;
}

/* Estilo para la pantalla de carga */
.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    border-radius: 8px; /* coincide con .contenedor */
    z-index: 20;
}

.loader-container.active {
    opacity: 1;
    pointer-events: all;
}

.loader-spinner {
    width: 60px;
    height: 60px;
    border: 7px solid #ddd;
    border-top-color: #13a3a3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-container img{
    width: 120px;
    height: 100px;
    animation: pulso-tarjeta 1s infinite ease-in-out;
}

@keyframes pulso-tarjeta {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}